In [7]:
import pandas as pd

In [17]:
df_tel = pd.read_csv(f'email.csv', index_col="Date", parse_dates = True, dayfirst=True)
liste_famille = df_tel.instance.unique()
liste_entite = df_tel.Entite.unique()

df_freq = pd.DataFrame(columns = ['Entite', 'instance','Nb_recus'])

for i, famille in enumerate(liste_famille):
    for j, entite in enumerate(liste_entite):
        df = df_tel[(df_tel["Entite"] == entite)& (df_tel["instance"] == famille)]
        df = df.asfreq('d')
        df.Entite = df.Entite.fillna(entite)
        df.instance = df.instance.fillna(famille)
        df.Nb_recus = df.Nb_recus.fillna(0)
        df_freq = pd.concat([df_freq,df])

df_freq = df_freq.sort_values(['Entite','instance'],ascending = True)
df_freq = df_freq.reset_index(names="Date")

df_freq
df_freq.to_csv('email.csv', index = False)

In [1]:
import pandas as pd

In [2]:
df_steven = pd.read_csv('email_test_steven.csv')

In [8]:
df_real = pd.read_csv('app/email.csv')
df_real =  df_real[(df_real["Entite"] == 'Entite 1')& (df_real["instance"] == 'SAV')]

In [12]:
df_real.columns

Index(['Date', 'Entite', 'instance', 'Nb_recus'], dtype='object')

In [9]:
df_real.shape

(31, 4)

In [10]:
df_steven.shape

(31, 4)

In [11]:
from sklearn.metrics import mean_absolute_percentage_error, mean_squared_error, mean_absolute_error, r2_score

In [20]:
df_steven

          Date    Entite instance    Nb_recus
0   2023-03-01  Entite 1      SAV  215.250030
1   2023-03-02  Entite 1      SAV  201.035600
2   2023-03-03  Entite 1      SAV  171.311450
3   2023-03-04  Entite 1      SAV   27.924070
4   2023-03-05  Entite 1      SAV   21.326853
5   2023-03-06  Entite 1      SAV  181.460130
6   2023-03-07  Entite 1      SAV  181.251630
7   2023-03-08  Entite 1      SAV  184.371220
8   2023-03-09  Entite 1      SAV  181.029900
9   2023-03-10  Entite 1      SAV  183.907170
10  2023-03-11  Entite 1      SAV   32.152077
11  2023-03-12  Entite 1      SAV   22.138744
12  2023-03-13  Entite 1      SAV  178.842560
13  2023-03-14  Entite 1      SAV  183.068480
14  2023-03-15  Entite 1      SAV  177.644970
15  2023-03-16  Entite 1      SAV  184.959610
16  2023-03-17  Entite 1      SAV  185.253540
17  2023-03-18  Entite 1      SAV   33.071075
18  2023-03-19  Entite 1      SAV   21.404282
19  2023-03-20  Entite 1      SAV  174.346250
20  2023-03-21  Entite 1      SAV  198.340550
21  2023-03-22  Entite 1      SAV  198.823440
22  2023-03-23  Entite 1      SAV  193.536650
23  2023-03-24  Entite 1      SAV  197.383870
24  2023-03-25  Entite 1      SAV   31.458855
25  2023-03-26  Entite 1      SAV   22.393158
26  2023-03-27  Entite 1      SAV  189.586360
27  2023-03-28  Entite 1      SAV  247.659850
28  2023-03-29  Entite 1      SAV  237.637000
29  2023-03-30  Entite 1      SAV  212.599660
30  2023-03-31  Entite 1      SAV  170.741680

In [19]:
df_real

          Date    Entite instance  Nb_recus
0   2023-03-01  Entite 1      SAV     139.0
1   2023-03-02  Entite 1      SAV     108.0
2   2023-03-03  Entite 1      SAV     104.0
3   2023-03-04  Entite 1      SAV      39.0
4   2023-03-05  Entite 1      SAV      32.0
5   2023-03-06  Entite 1      SAV      93.0
6   2023-03-07  Entite 1      SAV     118.0
7   2023-03-08  Entite 1      SAV     120.0
8   2023-03-09  Entite 1      SAV     120.0
9   2023-03-10  Entite 1      SAV     162.0
10  2023-03-11  Entite 1      SAV      41.0
11  2023-03-12  Entite 1      SAV      24.0
12  2023-03-13  Entite 1      SAV      99.0
13  2023-03-14  Entite 1      SAV     144.0
14  2023-03-15  Entite 1      SAV     150.0
15  2023-03-16  Entite 1      SAV      92.0
16  2023-03-17  Entite 1      SAV      90.0
17  2023-03-18  Entite 1      SAV      36.0
18  2023-03-19  Entite 1      SAV      17.0
19  2023-03-20  Entite 1      SAV     188.0
20  2023-03-21  Entite 1      SAV     205.0
21  2023-03-22  Entite 1      SAV     279.0
22  2023-03-23  Entite 1      SAV      96.0
23  2023-03-24  Entite 1      SAV     110.0
24  2023-03-25  Entite 1      SAV      28.0
25  2023-03-26  Entite 1      SAV      32.0
26  2023-03-27  Entite 1      SAV      85.0
27  2023-03-28  Entite 1      SAV      86.0
28  2023-03-29  Entite 1      SAV     122.0
29  2023-03-30  Entite 1      SAV     139.0
30  2023-03-31  Entite 1      SAV     105.0

In [15]:
mean_squared_error(df_steven.Nb_recus,df_real.Nb_recus)

4838.607633237946

In [14]:
mean_absolute_percentage_error(df_steven.Nb_recus,df_real.Nb_recus)

0.34379828601152

In [16]:
mean_absolute_error(df_steven.Nb_recus,df_real.Nb_recus)
r2_score(df_steven.Nb_recus,df_real.Nb_recus)
mean_absolute_percentage_error(df_steven.Nb_recus,df_real.Nb_recus)
mean_squared_error(df_steven.Nb_recus,df_real.Nb_recus)

55.802525161290326

In [17]:
r2_score(df_steven.Nb_recus,df_real.Nb_recus)

0.13074332356937424